body {
    display: flex;
    flex-direction: column;
}

.logo{
    font-size: 20px;
    color: #A52A2A;
    
    
}


main{
    display: flex;
    flex-direction: row;
    flex: auto;
}

article{
    flex: 2;
    overflow-y: auto;
}

aside{
    flex: 1;
    overflow-y: auto;
}
